button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.loader {
  border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3d3780;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.btn-css{
    border: 0px;
    background: #3d3780;
    color: #fff;
    padding: 7px 12px;
    margin-right: 6px;
}
.active {
    background: #00d977 !important;
    color: #000;
    border: 0px solid !important;
}
button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color !important;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.table-th{
    text-align: center;
    color: #000;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    white-space: nowrap;
}
.card{
    max-height: 520px;
    padding: 0px 10px 0px;
    border-radius: 10px;
    border: solid 0px #3d3780;
    background-color: transparent;
    -webkit-box-shadow: 5px 5px 5px 0 #a4abb373;
    box-shadow: 0px 0px 0px 0 #a4abb373;
    overflow: auto;
}
.card1{
	height: auto;
    padding: 0px 10px 0px;
    border-radius: 10px;
    border: solid 0px #3d3780;
    background-color: transparent;
    -webkit-box-shadow: 5px 5px 5px 0 #a4abb373;
    box-shadow: 0px 0px 0px 0 #a4abb373;
}
h1{
    margin: 0;
    text-align: center;
    color: #000;
}
a{
    color: #0000FF !important;
}
a:hover{
    color: #0000FF !important;
    text-decoration: underline;;
}
.button{
    margin-bottom: 26px;
    width: 100%;
    cursor: pointer;
}
.button button{
    display: inline-block;
    width: 10%;
    float: left;
    margin-left: 10px;
    padding: 10px 0;
    background: #3d3780;
    border: 0px;
    color: #fff;
    text-transform: capitalize;
}