<div class="loader" *ngIf="loader"></div>
<div class="card1">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6" style="text-align: center;font-weight: 600;">
			<h1 style="margin-top: 0px;margin-bottom: 0px;">Manage Room</h1>
		</div>
		<div class="col-md-3">
			<button type="button" class="navigate" (click)="creatrRooom()">Create room</button>
		</div>
	</div>
</div>
<div class="card" style="margin-top: 20px;">
	<div *ngIf="emptyTable" style="text-align: center;font-size: 20px;margin-bottom: 20px;">
		In system group not available
	</div>
	<table class="table table-fixed" *ngIf="!emptyTable">
		<thead class="table-width-row">
			<tr>
				<th class="table-th" style="width: 16%;">Room Name</th>
				<th class="table-th" style="width: 13.5%;">Trip Number</th>
				<th class="table-th" style="width: 13.5%;">Start Time</th>
				<th class="table-th" style="width: 13.5%;">End Time</th>
				<th class="table-th" style="width: 12%;">Type</th>
				<th class="table-th" style="width: 5%;">Members</th>
				<th class="table-th" style="width: 5%;">Messages</th>
				<th class="table-th" style="width: 10%;">Active Status</th>
				<th class="table-th" style="width: 8%;">Delete</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let data of groupList" (click)="goToGroupChatShoePage(data)" style="cursor: pointer;">
				<td class="table-th" style="width: 16%;cursor: pointer;">{{data.type}} {{data.trainNumber}} departure from {{data.departure}} and arrival at {{data.arrival}}</td>
				<td class="table-th" style="width: 13.5%;" >{{data.trainNumber}}</td>
				<td class="table-th" style="width: 13.5%;">{{data.startTime}}</td>
				<td class="table-th" style="width: 13.5%;">{{data.endTime}}</td>
				<td class="table-th" style="width: 12%;">{{data.type}}</td>
				<td class="table-th" style="width: 5%;"><span class="badges">{{data.member}}</span></td>
				<td class="table-th" style="width: 5%;"><span class="badges">{{data.chat}}</span></td>
				<td class="table-th" style="width: 10%;">{{data.activeStatus}}</td>
				<td class="table-th" style="width: 8%;">
					<button type="button" (click)="deleteGroup(data)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
