// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

@import './bootstrap-rtl';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  .layout-container{
    background: #fff;
  }
  .input-field {
      background: transparent !important;
      border: 1.6px solid #4b43a7 !important;
      color: #000 !important;
      font-size: 1rem;
      padding: 0.75rem 1.125rem;
      width: 100%;
      border-radius: 7px;
  }
  .input-field::placeholder,.select::placeholder{
    color: #000;
  }
  .menu-title::after{
    display: none;
  }
  .autocomplete input{
        width: 100%;
    padding: 10px 3px;
    border: 1px solid #4b43a7;
    border-radius: 5px;
}
  .content{
    position: relative;
  }
  .loader {
  border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3d3780;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.body-hole{
  display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background: rgba(0,0,0,0.8);
    pointer-events: none;
}
  @include bootstrap-rtl();

};
