::placeholder {
	color: #fff;
}
::-ms-input-placeholder { 
 color: #fff;
}
.card{
    max-height: 520px;
    padding: 25px 10px 0px;
    border-radius: 10px;
    border: solid 0px #3d3780;
    background-color: #ffffff;
    -webkit-box-shadow: 5px 5px 5px 0 #a4abb373;
    box-shadow: 0px 0px 0px 0 #a4abb373;
    overflow: auto;
}
.card1{
    height: auto;
    padding: 0px 10px 0;
    border-radius: 10px;
    border: solid 0px #3d3780;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 5px 0 #a4abb373;
    box-shadow: 0px 0px 0px 0 #a4abb373;
}
.login-btn{
    background-color: #3d3780;
    width: auto;
    border: solid 1px;
    border-radius: 7px;
    height: 35px;
    border-color: #3d3780;
    padding: 0px 15px;
    color: #fff;
}
.input-field{
	background-color: #352f7d;
    border: 2px solid #4b43a7;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.75rem 1.125rem;
    width: 100%;border-radius: 7px;
}
.text-link{
	color: #a1a1e5;
    font-weight: 600;
    cursor: pointer;
}
.name-align{
    display: table;
    height: 40px;
}
.name-align span{
    display: table-cell;
    vertical-align: middle;
}
.active{
    background-color: #fff;
    width: 100%;
    margin-top: 30px;
    border: solid 1px;
    border-radius: 7px;
    height: 40px;
    border-color: #28a745;
}
.invalid-feedback {
    display: block !important;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    color: #000;
}