<div style="text-align: center;font-weight: 600;">
	<h1 style="color:#000;margin-top: 0px;margin-bottom: 0px;">Create Ads</h1>
</div>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div style="margin-top: 30px;">
			<label class="label" for="input-email">Ads title:</label>
		</div>
		<div>
			<input type="text" name="adsName" placeholder="Ads name" class="input-field" [(ngModel)]="adsName">
		</div>
		<div style="margin-top: 30px;">
			<label class="label" for="input-email">Ads category:</label>
		</div>
		<div>
			<select [(ngModel)]="categoryType" required>
				<option value="" disabled selected>Select your category</option>
				<option  *ngFor="let category of categoryTypeData" [ngValue]="category">{{category}}</option>
			</select>
		</div>
		<div style="margin-top: 30px;">
			<label class="label" for="input-email">Ads link:</label>
		</div>
		<div>
			<input type="text" name="adsName" placeholder="Ads link" [(ngModel)]="adslink" class="input-field">
		</div>
		<div style="margin-top: 30px;font-size: 17px;">
			<input type="file" accept="image/*" [(ngModel)]="imageName"  (change)="upload($event)">
		</div>
		<div style="margin-top: 30px;">
			<label class="label" for="input-email">Ads description:</label>
		</div>
		<div>
			<textarea style="width:100%;" rows="5" [(ngModel)]="description"></textarea>
		</div>
		<button type="button" class="save" (click)="createAds(categoryType)">Save</button>
		<p style="color:#FF0000" *ngIf="showError">Please fill all fields</p>
		<p style="color:#00FF00" *ngIf="showSuccess">Data save successfully</p>
	</div>
	<div class="col-md-3"></div>
</div>
