::placeholder {
	color: #fff;
}
::-ms-input-placeholder { 
 color: #fff;
}
.login-btn{
	background-color: #00d977;
    width: 100%;
    margin-top: 30px;
    border: solid 1px;
    border-radius: 7px;
    height: 40px;
    border-color: #28a745;
}
.input-field{
	background-color: #352f7d;
    border: 2px solid #4b43a7;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.75rem 1.125rem;
    width: 100%;border-radius: 7px;
}
.text-link{
	color: #a1a1e5;
    font-weight: 600;
    cursor: pointer;
}
.active{
    background-color: #fff;
    width: 100%;
    margin-top: 30px;
    border: solid 1px;
    border-radius: 7px;
    height: 40px;
    border-color: #28a745;
}
.invalid-feedback {
    display: block !important;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 100%;
    color: #dc3545;
}
.upload-file input{
    display: inline-block;
    padding: 0px 0px;
    line-height: 2.1;
    /* max-width: 37%; */
}
.upload-file select{
    padding: 8px 0;
    margin-right: 23px;
    width: 83%;
}
.upload-file button{
    padding: 8px 14px;
    display: block;
    width: 28%;
    margin: 34px 115px;
    background: #00d977 !important;
    color: #000;
    text-transform: capitalize;
}
.room-btn{
    padding: 7px 9px;
    border: 0;
    background: #3d3780;
    position: fixed;
    color: #fff;
    z-index: 999;
    right: 40px;
}
button:focus {
    outline: 0px auto -webkit-focus-ring-color;
}
.select-btn{
    background-color: #fff;
    width: 100%;
    margin-top: 30px;
    border: solid 1px;
    border-radius: 7px;
    height: 40px;
    border-color: #28a745;
}
.act{
    background: #3d3780;
    color: #fff;
    border: 0;
}